@import "mixins";
@import "base";

main {
  display: flex;
  margin: 30px 0;

  @media only screen and (max-width: $sm-tablet) {
    & {
      flex-direction: column;
    }
  }
}

.canvas-wrap {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin-right: 10px;

  .canvas-parent {
    flex: 1 1 0;
    min-height: 320px;

    canvas {
      display: block;
      background: #f5ede4;
      border: 1px solid #dfc7ad;
    }
  }

  .time-spent {
    font-size: 12px;
    flex: 0 0 0;
    padding-top: 5px;
  }

  @media only screen and (max-width: $sm-tablet) {
    & {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

textarea {
  padding: 10px;
  resize: vertical;
  line-height: 1.5;
}

textarea::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: #f9f9f9; /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid transparent; /* creates padding around scroll thumb */
}

textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

input[type=number], textarea {
  background: #f9f9f9;
  border: 1px solid #cccccc;
  color: #333333;
  border-radius: 0;
  outline: none;
}

input[type=number]:focus, textarea:focus {
  border-color: #4a9ef3;
}

input[type="range"] {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 2px;
  background: #cccccc;

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #bbd5f6; /* background */
    border: 2px solid #4a9ef3;
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }

  &::-moz-range-thumb {
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: #bbd5f6; /* background */
    border: 2px solid #4a9ef3;
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /*for absolutely positioning spinners*/
  position: relative;
  padding: 5px 25px 5px 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.app {
  margin: 20px auto;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;

  .cfg {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    label.cfg-name {
      width: 65px;
    }

    .slide {
      display: flex;
      align-items: center;
      margin: 5px 0;
    }

    .align {
      display: flex;
      align-items: center;

      .groups {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        flex-grow: 1;

        .group {
          display: flex;
          align-items: center;

          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            margin: 5px 10px 5px 0;
            cursor: pointer;

            svg {
              width: 24px;
              height: 24px;
              fill: #333333;
            }

            &.active {
              background: #4a9ef3;
              border-radius: 3px;

              svg {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }

    .last {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }

    @media only screen and (max-width: $sm-tablet) {
      & {
        margin-left: 0;
      }
    }
  }

  .featured {
    text-align: center;

    img {
      width: 100%;
    }
  }
}

footer {
  text-align: center;
  border-top: 1px solid #cccccc;
  margin-top: 30px;
  padding-top: 5px;
}
